* {
  margin: 0;
  padding: 0;
  font-family: 'roboto';
  box-sizing: border-box;
  text-decoration: none;
}

.container {
  max-width: 1140px;
  width: 100%;
  margin: 0 auto;
  padding: 0 15px;
}

.nav {
  background: #282828;
  box-shadow: 0px 4px 20px rgba(0, 0, 0, 0.25);
}

.nav__info {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 30px;
}

.nav__list {
  display: flex;
  list-style: none;
  margin: 0 auto;
}

.nav__link {
  font-weight: 700;
  font-size: 20px;
  line-height: 24px;
  text-align: right;
  color: #FFFFFF;
  margin-right: 30px;
}

.nav__menu {
  width: 30px;
  background-color: unset;
  border: none;
  cursor: pointer;
  display: none;
}



.intros {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.intro {
  background-image: url(../images/Air\ Pods.png);
  height: 700px;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  display: flex;
  align-items: center;
  justify-content: center;
}

.intro__title {
  font-family: Arial, Helvetica, sans-serif;
  font-weight: 400;
  font-size: 100px;
  line-height: 75px;
  color: #FFFFFF;
  margin-bottom: 51px;
}

.intro__link {
  font-weight: 500;
  font-size: 20px;
  line-height: 24px;
  text-transform: uppercase;
  color: #171718;
  background: #FFFFFF;
  padding: 13px 41px 13px 14px;
  border-radius: 10px;
}

main {
  background: #151515;
}

.sectionone {
  display: flex;
  align-items: center;
  gap: 30px;
  margin-bottom: 50px;
}

.sectionone p {
  width: 538px;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: 500;
  font-size: 22px;
  line-height: 27px;
  color: #FFFFFF;
}

.sectionone .container {
  padding-top: 79px;
}

.work__box {
  margin-bottom: 55px;
}

.phones {
  display: flex;
  gap: 30px;
}

.phones_card {
  background: #FFFFFF;
  width: 255px;
  border-radius: 6px;
  height: 312px;
  display: flex;
  gap: 10px;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-bottom: 50px;
}

@media(max-width:1100px) {
  .phones {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 30px;
    max-width: 530px;
    margin: 0 auto;
  }
}

@media(max-width:560px) {
  .phones {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
}

.phone_link {
  margin-top: 10px;
  font-weight: 700;
  font-size: 16px;
  line-height: 20px;
  text-transform: uppercase;
  color: #FFFFFF;
  background: #151515;
  padding: 7px 57px 7px 57px;
}

.footer {
  height: 215px;
  background: #282828;
  padding: 30px;
}

.footer__info {
  display: flex;
  justify-content: space-between;
}

.footer__list {
  display: flex;
  gap: 30px;
  align-items: center;
  list-style: none;
}

.footer__link {
  font-weight: 700;
  font-size: 20px;
  line-height: 24px;
  text-align: right;
  color: #FFFFFF;
}